{
  "token": "tHis-.1nOta.8Rea9L..9tO2keN",
  "join_message": "Thanks for inviting me! My prefix is `;;`, use `;;help`, if you wanna know how to use my commands!",
  "owners": [
    738604939957239930
  ],
  "prefix": [
    ";;"
  ],
}
